@import '../../variables';

header {
  min-height: 100vh;
  padding: 4vmin 10vmin;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  font-size: calc(10px + 2vmin);
  line-height: 1.5;

  h1 {
    margin-bottom: 4vmin;
  }
  span {
    margin-bottom: 4vmin;
  }
  @include shadow($pink);
}
