@import '../../variables';

footer {
  min-height: 50vh;
  padding: 4vmin 10vmin;

  font-size: calc(10px + 1vmin);

  display: flex;
  flex-direction: column;
  justify-content: center;

  & > *:not(:last-child) {
    margin-bottom: 4vmin;
  }

  li {
    margin-top: 1vmin;
  }
  @include shadow($pink);
}
