$white: #fff;
$bg: #201f20;

$pink: #f60783;
$yellow: #ccfe04;

@mixin top-shadow($color-top) {
  box-shadow: -2px -2px 6px $color-top, 2px 2px 6px rgba($bg, 0.4);
}
@mixin bot-shadow($color-top) {
  box-shadow: 2px 2px 6px $color-top, -2px -2px 6px rgba($bg, 0.4);
}
